body {
  background-color: #2f365f;
  padding: 0 40px;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.NewsVerticalImg {
  padding: auto;
  margin: auto;
}
.BannerVerticalImg:nth-child(n) {
  float: left;
}
.BannerVerticalImg:nth-child(2) {
  float: right;
}

.navbar {
  background-color: #0c0630;
}
nav.navbar {
  width: 100%;
  padding: 20px;
}

.navbar.ClickableLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header {
  background-color: #1b1b1d;
  padding: 30px;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #d79922;
}

.topic_article_div {
  background-color: rgb(11, 37, 69);
}

.container-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.ClickableLink {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgb(238, 244, 237);
}

.logo {
  margin: auto;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #c5cbe3;
}

#voteButton {
  margin: 10px;
}

.sorted_article_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}

.topic_article_div {
  align-items: center; /* aligns all the items vertically centered */
  justify-content: center; /* aligns all the items horizontally centered */
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.id_div {
  text-decoration-line: underline;
  text-decoration: none;
  color: rgb(252, 136, 3);
  font-size: larger;
  font-weight: bolder;
}

.sorted_article_div,
.article_div {
  background-color: #c5cbe3;
  box-shadow: 0 2.8px 2.2px rgba(5, 5, 5, 0.034),
    0 6.7px 5.3px rgba(9, 9, 9, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(3, 3, 3, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(9, 1, 1, 0.12);
  display: flex;
  padding: 50px;
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 12px;
}

.App-header {
  background-color: rgb(19, 64, 116);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.article_div {
  margin: 28px auto;
}
